<div class="card w-30">
	<img class="card-img-top" src="{{image}}" alt="">
	<div class="card-body">
		<h5 class="card-title"><a href="{{link}}">{{title}}</a></h5>
		<p class="card-text">{{summary}}</p>
		<div class="text-center">
			<div class="btn-group" role="group">
				<button class="btn btn-secondary save" type="button" data-id="{{_id}}" href="#"">Save This</a>
				<button class="btn btn-secondary comment" type="button" data-toggle="modal" data-target="#commentModal" data-id="{{_id}}">Leave a Comment</button>
			</div>
		</div>
	</div>
</div>